.cta__container {
  display: flex;
  position: relative;
  background-color: #fff;
  width: 1920px;
  height: 560px;
  margin: 0 auto;
  flex-direction: column;
}

.cta__container-body {
  position: absolute;
  width: 757px;
  height: 287px;
  top: 137px;
  left: 581px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta__container-body_icon {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 12px;
  padding: 20px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A0CD9E;
  box-sizing: border-box;
}

.cta__container-body_icon-image {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta__container-body_title {
  display: flex;
  width: 688px;
  height: 61px;
  font-family: Inter;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  text-align: center;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.cta__container-body_description {
  width: 423px;
  height: 44px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}

.cta__container-body_link {
  width: auto;
  height: 22px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #3A4F39;
}