.hero__container {
  display: flex;
  position: relative;
  background-color: #fff;
  width: 1920px;
  height: 560px;
  margin: 0 auto;
  flex-direction: column;
}

.hero__container-by_hero {
  position: relative;
  width: 257px;
  height: 167px;
  top: 197px;
  left: 200px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.hero__container-by_hero-title {
  width: 257px;
  height: 61px;
  font-family: Inter;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  margin: 0;
}

.hero__container-by_hero-description {
  width: 217px;
  height: 56px;
  gap: 24px;
  display: flex;
  flex-direction: row;
}

.hero__container-description-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.hero__container-image {
  position: relative;
  width: 1086px;
  height: 821px;
  top: -165px;
  left: 702px;
}