.pricing__container {
  display: flex;
  position: relative;
  background-color: #fff;
  width: 1920px;
  height: 560px;
  margin: 0 auto;
  background-image: url('../images/Pricing/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pricing__container-cards {
  position: absolute;
  width: 1038px;
  height: 488px;
  top: 36px;
  left: 441px;
  gap: 24px;
  display: flex;
  flex-direction: row;
}

.pricing__container-card {
  width: 330px;
  height: auto;
  gap: 24px;
  border-radius: 8px;
  padding-top: 40px;
  padding-right: 80px;
  padding-bottom: 40px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.pricing__title {
  width: 170px;
  height: 39px;
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: #3A4F39;
  margin: 0;
}

.pricing__container-cards_points {
  width: 170px;
  height: 188px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.pricing__point {
  position: relative;
  width: 170px;
  height: 24px;
  gap: 8px;
  display: flex;
}

.pricing__point--png_container {
  position: relative;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.pricing__point--img {
  position: absolute;
  top: 6.37px;
  left: 3.71px;
}

.pricing__point--text {
  position: absolute;
  width: 138px;
  height: 22px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  left: 32px;
  top: 1px;
}

.pricing__point--negative {
  opacity: 30%;
}

.pricing__point--double {
    height: 44px;
}

.pricing__container_price {
  width: 170px;
  height: 58px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.pricing__price--amount {
  width: 170px;
  height: 39px;
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.pricing__price--per_month {
  width: 170;
  height: 15;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
}

.pricing__container_try-button {
  width: 170px;
  height: 51px;
  gap: 10px;
  border-radius: 4px;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 17px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3A4F39;
  border: none;
  cursor: pointer;
  transition: transform 0.1s, color 0.2s;
}

.pricing__container_try-button:active {
  transform: scale(0.95);
}

.pricing__container_try-button-text {
  width: 70px;
  height: 22px;
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  color: #fff;
}
